[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIKbuy0Iw18Dq2V5un3SBJrMYNeAGEx7PyC6HMy23PcQ
	name = Akshit Garg
	email = garg.akshit@gmail.com
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	autoSetupRemote = true
