[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPdwnwcGX9HCfMJa0KGEnPZHEn+4NjC2c5/86aQ3AtdG
	name = Akshit Garg
	email = akshit@deepsource.io
